<div class="bg-linear-gradient-to-r from-[#4D5CAB] to-[#6C8CD5] rounded-3xl">
  @if (isLoading) {
    <div class="rounded-2xl bg-[#F2F6FE] p-4 text-[#4D5CAB]">Loading patients...</div>
  } @else if (errorMessage) {
    <div class="rounded-2xl bg-[#F2F6FE] p-4 text-[#4D5CAB]">
      {{ errorMessage }}
    </div>
  } @else if (!patients.length) {
    <div class="rounded-2xl bg-[#F2F6FE] p-4 text-[#4D5CAB]">No patients found.</div>
  } @else {
    <div
      class="rounded-t-md bg-[#F2F6FE] p-4 text-[#4D5CAB] flex flex-col gap-3 md:flex-row md:items-center md:justify-between mb-3"
    >
      <div class="flex items-center gap-3">
        <input
          nz-input
          class="w-full md:w-90"
          placeholder="Search by name, severity, or user id"
          [(ngModel)]="searchValue"
        />
        <button nz-button nzType="default" (click)="resetSearch()" [disabled]="!searchValue">
          Reset
        </button>
      </div>
    </div>

    <nz-table
      #basicTable
      [nzData]="searchedPatients"
      nzShowPagination
      nzShowSizeChanger
      nzNoResult="No matching patients."
      class="rounded-b-md overflow-hidden"
    >
      <thead>
        <tr>
          <th nzShowSort [nzSortFn]="sortFirstName">First Name</th>
          <th nzShowSort [nzSortFn]="sortLastName">Last Name</th>
          <th nzShowSort [nzSortFn]="sortAge">Age</th>
          <th
            nzShowSort
            [nzSortFn]="sortSeverity"
            nzShowFilter
            [nzFilters]="severityFilters"
            [nzFilterMultiple]="true"
            [nzFilterFn]="severityFilterFn"
          >
            Severity
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track data.id) {
          <tr>
            <td>{{ data.firstName }}</td>
            <td>{{ data.lastName }}</td>
            <td>{{ getAgeYears(data.dateOfBirth) }} years</td>
            <td>
              <nz-tag [nzColor]="getSeverityColor(data.severity)">
                {{ data.severity }}
              </nz-tag>
            </td>
            <td>
              <a [routerLink]="['/patient-management', data.id]" [state]="{ patient: data }"
                >View</a
              >
              <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  }
</div>
