<div class="flex flex-col gap-2">
  <div class="flex items-center gap-3 mb-4">
    <input
      nz-input
      class="md:max-w-90 rounded-md!"
      placeholder="Search by date, status, id, or name"
      [(ngModel)]="searchValue"
      (ngModelChange)="applySearch()"
    />
    <button nz-button nzType="default" (click)="resetSearch()" [disabled]="!searchValue">
      Reset
    </button>
  </div>

  <nz-table
    #visitsTable
    [nzData]="filteredVisits"
    [nzShowPagination]="true"
    [nzShowSizeChanger]="true"
    nzNoResult="No visits found."
    class="rounded-b-md overflow-hidden border border-gray-200"
  >
    <thead>
      <tr>
        @if (currentUserRole == 'admin') {
          <th [nzShowSort]="true" [nzSortFn]="sortVisitId">Visit ID</th>
        }
        <th [nzShowSort]="true" [nzSortFn]="sortVisitDate">Scheduled</th>
        @if (currentUserRole != 'caregiver') {
          <th>Caregiver</th>
        }
        <th
          [nzShowSort]="true"
          [nzSortFn]="sortVisitStatus"
          [nzShowFilter]="true"
          [nzFilters]="statusFilters"
          [nzFilterMultiple]="true"
          [nzFilterFn]="statusFilterFn"
        >
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      @for (visit of visitsTable.data; track getVisitId(visit)) {
        <tr (click)="onVisitRowClick(visit)" [class.cursor-pointer]="canOpenReportEditor(visit)">
          @if (currentUserRole == 'admin') {
            <td>#{{ getVisitId(visit) }}</td>
          }
          <td>{{ formatDateTime(getVisitDate(visit)) }}</td>
          @if (currentUserRole != 'caregiver') {
            <td>{{ getCaregiverName(visit) | titlecase }}</td>
          }
          <td>
            <nz-tag [nzColor]="getStatusColor(getVisitStatus(visit))">
              {{ getVisitStatus(visit) || 'UNKNOWN' | titlecase }}
            </nz-tag>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
